{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver", {
      "root": ["."],
      "alias": {
        "styles": "./styles"
      },
      "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    ["transform-define", "./env-config.js"],
    ["emotion"]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0",
    "next/babel"
  ],
  "ignore": []
}
