.about-step {
  padding-top: 32px;
  position: relative;
  min-height: 161px;

  .title {
    color: white;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .description {
    color: white;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
}

.step_token-setup {
  @include image-2x('../../static/step-icons/token_setup_header@2x.png', 960px, 161px);
  background-image: url('../../static/step-icons/token_setup_header.png');
  background-repeat: no-repeat;
  background-size: 960px, 161px;
}

.step_timemint-setup {
  @include image-2x('../../static/step-icons/timemint_setup_header@2x.png', 960px, 161px);
  background-image: url('../../static/step-icons/timemint_setup_header.png');
  background-repeat: no-repeat;
}

.step_contract-setup {
  @include image-2x('../../static/step-icons/contract_setup_header@2x.png', 960px, 161px);
  background-image: url('../../static/step-icons/contract_setup_header.png');
  background-repeat: no-repeat;
}

.step_publish {
  @include image-2x('../../static/step-icons/publish_header@2x.png', 960px, 161px);
  background-image: url('../../static/step-icons/publish_header.png');
  background-repeat: no-repeat;
}

.step_watch {
  @include image-2x('../../static/step-icons/watch_page_header@2x.png', 960px, 161px);
  background-image: url('../../static/step-icons/watch_page_header.png');
  background-repeat: no-repeat;
}

.steps-content {
  padding: 30px 30px 0;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
}
