.about-step {
  padding-top: 32px;
  position: relative;
  min-height: 161px;

  .title {
    color: white;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .description {
    color: white;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
}

.steps-content {
  padding: 30px 30px 0;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  &.container{
    @include image-2x($backend-url+'/static/step-icons/overlay.svg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/overlay.svg');
    background-repeat: no-repeat;
    background-size: 960px 161px, 960px 161px;
  }

  &.step_token-setup {
    @include image-2x($backend-url+'/static/step-icons/token_setup_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/token_setup_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_timemint-setup {
    @include image-2x($backend-url+'/static/step-icons/timemint_setup_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/timemint_setup_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_contract-setup {
    @include image-2x($backend-url+'/static/step-icons/contract_setup_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/contract_setup_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_publish {
    @include image-2x($backend-url+'/static/step-icons/publish_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/publish_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_watch {
    @include image-2x($backend-url+'/static/step-icons/watch_page_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/step-icons/watch_page_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_debt-token-setup {
    @include image-2x($backend-url+'/static/debt-step-icons/debt_token_setup_header.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/debt-step-icons/debt_token_setup_header.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_debt-interest-rate-setup {
    @include image-2x($backend-url+'/static/debt-step-icons/debt_interest_rate_header.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/debt-step-icons/debt_interest_rate_header.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_lender-setup {
    @include image-2x($backend-url+'/static/debt-step-icons/debt_lender_setup_header.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/debt-step-icons/debt_lender_setup_header.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_debt-publish {
    @include image-2x($backend-url+'/static/debt-step-icons/debt_publish_header.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/debt-step-icons/debt_publish_header.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }

  &.step_debt-watch {
    @include image-2x($backend-url+'/static/debt-step-icons/watch_page_header2.jpg', 960px, 161px);
    background-image: url($backend-url+'/static/debt-step-icons/watch_page_header2.jpg'), url($backend-url+'/static/step-icons/overlay.svg');
  }
}
