html,
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  box-sizing: border-box;
  padding: $header-height 0 $footer-height;
  background-color: #fbfbfc;
}

.container {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.left {
  width: 46%;
  float: left;
}

.right {
  width: 46%;
  float: right;
}

.col{
  display:inline-block;
  min-height:43px;
  margin-bottom: 10px;
  &-3{
    width:33%;
    margin-right:0.33%;
    float: left;
  }
  & .label{
  }
  & p{
    font-size: 0.8rem;
  }
  &.left{
    width:49.5%
  }
  &.right{
    width:49.5%
  }
}

.contract{
  &_info{
    padding: 20px 20px 0;
    overflow-y: visible;
    margin-bottom: 52px;
    font-size: 0.8rem;
  }
  &_clear{
    clear:both;
  }
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.text-center{
  text-align: center;
}

.input-block-container {
  display: table;
  width: 100%;
}

.bottom-margin{
  margin-bottom: 25px;
}
